body{
    background-color: #dddddd;
    text-align: center;
}

/* #board-container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
} */

.cell {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px;
    
}

.black {
    /* background-color: black; */
    background-image: url("images/black-marble.jpg");
}

.red {
    /* background-color: darkred; */
    background-image: url("images/white-marble.jpg");
}

.checker {
    margin: 10px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.red-checker {
    /* background-color: red; */
    background-image: url("images/white-stone.png");
    background-size: cover;
}

.black-checker {
    /* background-color: #333; */
    background-image: url("images/black-stone.png");
    background-size: cover;
}


