body{
    background-color: #dddddd;
    text-align: center;
}

 #board-container {
     background-image: url("images/wood-background.jpg");
     display: inline-block;
     padding: 2vh;
    /* display: flex;
    justify-content: center; */
}

/*
.row {
    display: flex;
    justify-content: center;
} */

.cell {
    width: 8vw;
    height: 8vw;
    display: inline-block;
    margin: 0px;
    max-width: 11vh;
    max-height: 11vh;
}

.black {
    /* background-color: black; */
    background-image: url("images/black-marble.jpg");
}

.red {
    /* background-color: darkred; */
    background-image: url("images/white-marble.jpg");
}

.checker {
    margin: 10%;
    border-radius: 50%;
    height: 80%;
    width: 80%;
}

.red-checker {
    /* background-color: red; */
    background-image: url("images/white-stone.png");
    background-size: cover;
}

.black-checker {
    /* background-color: #333; */
    background-image: url("images/black-stone.png");
    background-size: cover;
}


