
.cell {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px;
    
}

.black {
    background-color: black;
}

.red {
    background-color: darkred;
}

.checker {
    margin: 10px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.red-checker {
    background-color: red;
}

.black-checker {
    background-color: #333;
}